header{
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%
}
h1{
    font-family: cursive;
    text-align: center;
    color: snow;
    font-size: 30px;
}
#thuVienAnh{
    margin: auto;
    width: 900px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.Anh{
    margin: 5px;
    flex-basis: 270px;
    flex-grow: 1;
}

img{
    max-width: 100%;
    max-height: 100%;
    min-height: 100%;
    transition: 0.4s;
    border-radius: 10px;
}

img:hover{
    opacity: 80%;
}